<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <form th:action="@{/factura/form/}" th:object="${factura}" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Ciente'"></label>
                    <div class="col-sm-6">
                        <input type="text" th:value="${factura.cliente.name} + ' ' + ${factura.cliente.lastName}"
                               disabled class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Descripcion'"></label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{description}" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Observaciones'"></label>
                    <div class="col-sm-6">
                        <textarea cols="10" th:field="*{observation}" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <input type="submit" th:value="${titulo}" class="btn btn-secondary">
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>