<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>

    <div class="container py-4">
        <div class="card bg-light">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">

                <form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">
                    <table class="table table-striped">
                        <tr>
                            <td>Nombre</td>
                            <td>
                                <input id="name" type="text" th:field="*{name}" class="form-control">
                                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-danger"></small>
                            </td>
                        </tr>
                        <tr>
                            <td>Apellido</td>
                            <td>
                                <input id="lastName" type="text" th:field="*{lastName}" class="form-control">
                                <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="form-text text-danger"></small>
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <input id="email" type="email" th:field="*{email}" class="form-control">
                                <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-text text-danger"></small>
                            </td>
                        </tr>
                        <tr>
                            <td>Foto</td>
                            <td>
                                <input id="file" type="file" name="file" class="form-control">
                                <small th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}" class="form-text text-danger"></small>
                            </td>
                        </tr>
                        <!--<tr>
                            <td>Fecha</td>
                            <td>
                                <input id="createdAt" type="text" th:field="*{createdAt}" class="form-control">
                                <small th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}" class="form-text text-danger"></small>
                            </td>
                        </tr>-->
                        <tr>
                            <td th:if="*{id > 0}"><input type="submit" class="btn btn-primary" value="Editar Cliente"></td>
                            <td th:if="*{id == null}"><input type="submit" class="btn btn-primary" value="Crear Cliente"></td>
                        </tr>
                    </table>
                    <!--<input type="hidden" th:field="*{id}">-->
                </form>

            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>