<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <h4 class="card-title">
                <a th:href="@{/form}" class="btn btn-primary">Crear Cliente</a>
                <a th:href="@{/report/} + ${'ReporteEmpresas'}" class="btn btn-primary">Generar PDF</a>
            </h4>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Fecha</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td>
                        <a class="btn btn-primary btn-lg" th:href="@{/ver/} + ${cliente.id}"
                           th:text="${cliente.id}"></a>
                    </td>
                    <td th:text="${cliente.name}"></td>
                    <td th:text="${cliente.lastName}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.createdAt}"></td>
                    <td>
                        <a th:href="@{/form/} + ${cliente.id}" class="btn btn-icon btn-primary">Editar</a>
                    </td>
                    <td>
                        <a th:href="@{/eliminar/} + ${cliente.id}" class="btn btn-icon btn-danger"
                           onclick="return confirm('Estas seguro que desea eliminar el cliente?');">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav th:replace="layout/paginator-nav :: paginator"></nav>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>