<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <img class="img-thumbnail rounded float-left" style="max-width: 25%"
                 th:src="@{'/uploads/' + ${cliente.photo}}" th:alt="${cliente.photo}"
                 th:if="${cliente.photo != null && (#strings.length(cliente.photo) > 0)}">
            <ul class="list-group">
                <li class="list-group-item" th:text="${cliente.name}"></li>
                <li class="list-group-item" th:text="${cliente.lastName}"></li>
                <li class="list-group-item" th:text="${cliente.email}"></li>
                <li class="list-group-item" th:text="${cliente.createdAt}"></li>
            </ul>

            <div class="alert alert-info my-4" th:if="${#lists.isEmpty(cliente.facturas)}"
                 th:text="'No hay facturas asignadas para el cliente ' + ${cliente.name} + ' ' + ${cliente.lastName}"></div>

            <table th:if="${not #lists.isEmpty(cliente.facturas)}" class="table table-bordered table-stripped my-4">
                <thead class="thead-light">
                <tr>
                    <th>Folio</th>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="factura: ${cliente.facturas}">
                    <td th:text="${factura.id}"></td>
                    <td th:text="${factura.description}"></td>
                    <td th:text="${factura.createdAt}"></td>
                    <td th:text="${factura.total}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>